<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="example.com.denislav.homegym">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tren_new"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_1den_1upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_1den_2upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_1den_3upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_1den_4upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_1den_5upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_2den_1upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_2den_2upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_2den_3upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_2den_4upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_2den_5upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_2den_6upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".New_2den_7upr"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
    </application>

</manifest>
